## Ignore work/ directory
work/*

## Ignore data/ directory
data/*

## Ignore vscode/ directory
.vscode/*

## Ignore jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*

## Ignore 
workflows/hicexplorer_jm/HiCExplorer-pipeline/*
workflows/hicexplorer/trio1.offspring/*
workflows/hicexplorer_jm/.snakemake/*
