## Ignore work/ directory
work/*

## Ignore data/ directory
data/*

## Ignore vscode/ directory
.vscode/*

## Ignore jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*

## Ignore 
workflows/hicexplorer_jm/HiCExplorer-pipeline/*
workflows/hicexplorer/trio1.offspring/*
*/.snakemake/
workflows/nfcorehic_jm/Arima
workflows/nfcorehic_jm/Dovetail
workflows/nfcorehic_jm/Maison
