/*
 * ----------------------------------------------------------
 *  Nextflow nfcore/hic config file for polledHiC on genologin
 * -----------------------------------------------------------
 * Defines a custom config file
 */

 singularity {
   // need one image per execution
   enabled = true
   runOptions = '-B /bank -B /work2 -B /work -B /save -B /home -B /genphyse'
 }

 process{
     withName:bowtie2_end_to_end {
       cpus = 16
       memory = 64.GB
       time = 36.h
   }
    withName:bowtie2_on_trimmed_reads {
     cpus = 16
     memory = 64.GB
     time = 36.h
   }
   withName:get_valid_interaction {
     memory = 64.GB
     time = 36.h
   }
   withName:remove_duplicates {
     memory = 64.GB
     time = 36.h
   }
   withName:merge_mapping_steps {
     time = 36.h
   }
 }

params {

   // Bowtie options
   bwt2_opts_end2end =  '--very-sensitive -L 30 --score-min L,-0.6,-0.2 --end-to-end --reorder'
   bwt2_opts_trimmed = '--very-sensitive -L 20 --score-min L,-0.6,-0.2 --end-to-end --reorder'

  // HiCPro options
  min_mapq  = 10
  min_insert_size = 20
  max_insert_size = 1000

  rm_singleton = true
  rm_dup = true
  skipIce = true
  skipCool = true

}
